article p {
    margin: 0 2rem;
}

article {
    margin-bottom: 4rem;
}

figure {
    text-align: center;
}

figure img {
    image-orientation: from-image;
}

h4 {
    border-bottom: 2px solid #ddd;
    text-align: center;
    color: #666;
}

.container {
    max-width: 60rem;
}

.file-icon {
    position: relative;
    margin-right: 1rem;
    color: #999;
    top: 0.2em;
}

.comment {
    border-left: 2px solid #ddd;
    position: relative;
    margin-top: 1rem;
}

.comment > .avatar {
    border: 2px solid #ddd;
    border-radius: 3rem;
    position: absolute;
    background: white;
    left: -1.75rem;
    height: 3rem;
    width: 3rem;
    top: -2rem;
}

.comment:nth-child(2n) {
    border-right: 2px solid #ddd;
    border-left: none;
}

.comment:nth-child(2n) > .avatar {
    left: auto;
    right: -1.75rem;
}

.comment > .author {
    position: absolute;
    padding: 0 1.5rem;
    left: 0.5rem;
    color: #666;
    top: -2rem;
}

.comment:nth-child(2n) > .author {
    right: 0.5rem;
    left: auto;
}

