@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  background-color: rgb(240,240,240);
  font-family: 'Open Sans', Helvetica, sans-serif;
}

*:focus {
  outline: 0;
}

.pong-loader {
  border-radius: 2px;
  margin: 5em auto 0;
}

header {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-color: black;
  margin: 0 0 1em;
  padding: 0.5em;
  color: white;
}

h1 {
  font-size: 1.5em;
  margin: 0;
}

h2 {
  font-size: 1em;
  margin: 0;
}

#student-filter {
  border: none;
  border-bottom: 1px solid #aaa;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  appearance: none;
  background: none;
  width: 14em;
}

#select-wrapper {
  position: absolute;
  margin: 1em;
  right: 1em;
  top: 1em;
}

#select-wrapper::after {
  pointer-events: none;
  position: absolute;
  content: '▼';
  right: 0;
  top: 0;
}

article {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
  background-color: white;
  margin-bottom: 2rem;
  border-radius: 2px;
  overflow: hidden;
  width: 100%;
}

article.comment {
  box-sizing: border-box;
  padding: 0.5rem 2rem;
}

article.file {
  padding: 1em 0 1.5em;
  text-align: center;
}

figure {
  text-align: center;
}

figure img {
  image-orientation: from-image;
}

h4 {
  margin: 0 0 0.5em;
  font-size: 1.5em;
  width: 100%;
  color: #666;
}

.container {
  flex-direction: column;
  align-items: center;
  max-width: 40rem;
  margin: 0 auto;
  display: flex;
}

.file-icon {
  position: relative;
  margin-right: 1rem;
  color: #999;
  top: 0.2em;
}

.author,
.avatar {
  display: none;
}

@media (max-width: 400px) {
  body {
    background: white;
  }

  h4 {
    text-align: center;
    border-bottom: none;
    font-size: 1.25rem;
  }

  #select-wrapper {
    margin: 0 0 2em 1em;
    position: relative;
    display: block;
    width: 14em;
  }

  article {
    box-shadow: none;
    margin: 0;
  }
}

/*.comment {*/
  /*border-left: 2px solid #ddd;*/
  /*position: relative;*/
  /*margin-top: 1rem;*/
/*}*/

/*.comment > .avatar {*/
  /*border: 2px solid #ddd;*/
  /*border-radius: 3rem;*/
  /*position: absolute;*/
  /*background: white;*/
  /*left: -1.75rem;*/
  /*height: 3rem;*/
  /*width: 3rem;*/
  /*top: -2rem;*/
/*}*/

/*.comment:nth-child(2n) {*/
  /*border-right: 2px solid #ddd;*/
  /*border-left: none;*/
/*}*/

/*.comment:nth-child(2n) > .avatar {*/
  /*left: auto;*/
  /*right: -1.75rem;*/
/*}*/

/*.comment > .author {*/
  /*position: absolute;*/
  /*padding: 0 1.5rem;*/
  /*left: 0.5rem;*/
  /*color: #666;*/
  /*top: -2rem;*/
/*}*/

/*.comment:nth-child(2n) > .author {*/
  /*right: 0.5rem;*/
  /*left: auto;*/
/*}*/

.blog-image {
  width: 100%;
  min-height: 10em;
  background-color: #ddd;
}
