/*noinspection CssUnknownTarget*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  background-color: rgb(240, 240, 240);
  font-family: 'Open Sans', Helvetica, sans-serif;
}

*:focus {
  outline: 0;
}

.pong-loader {
  border-radius: 2px;
  margin: 5em auto 0;
}

body > header {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: white;
  margin: 0 0 1em;
  padding: 0.5em;
  color: #333;
}

#upload-form {
  text-align: center;
}

#text-upload-wrapper,
#file-upload-wrapper {
  background-color: lightgreen;
  display: inline-block;
  position: relative;
  border-radius: 5em;
  overflow: hidden;
  margin: 3em 0.5em;
  height: 5em;
  width: 5em;
}

#text-upload-wrapper:active,
#file-upload-wrapper:active {
  background-color: darkgreen;
}

#text-upload-wrapper:active span,
#file-upload-wrapper:active span,
#text-upload-wrapper:active i,
#file-upload-wrapper:active i {
  color: lightgreen;
}

#text-upload-wrapper i,
#file-upload-wrapper i {
  font-size: 2.5em;
  color: darkgreen;
  margin: 0.3em;
}

#text-upload-wrapper span,
#file-upload-wrapper span {
  position: absolute;
  text-align: center;
  color: darkgreen;
  bottom: 0.5em;
  width: 100%;
  left: 0;
}

#file-upload {
  position: absolute;
  font-size: 20px;
  cursor: pointer;
  height: 100%;
  width: 100%;
  opacity: 0;
  padding: 0;
  margin: 0;
  right: 0;
  top: 0;
}

progress {
  margin: 1em auto;
  display: none;
  width: 10em;
}

.uploading progress {
  display: block;
}

h1 {
  font-size: 1.5em;
  margin: 0;
}

h2 {
  font-size: 1em;
  margin: 0;
}

#student-filter {
  border: none;
  border-bottom: 1px solid #aaa;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  appearance: none;
  background: none;
  width: 14em;
}

#student-filter[disabled] {
  border: none;
  width: auto;
}

#select-wrapper[disabled]::after {
  content: '';
}

#select-wrapper {
  position: absolute;
  margin: 1em;
  right: 1em;
  top: 1em;
}

#select-wrapper::after {
  pointer-events: none;
  position: absolute;
  content: '▼';
  right: 0;
  top: 0;
}

#view-dummy-link {
  text-align: center;
  position: static;
  margin: 2em auto;
  display: block;
}

article {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease-in-out;
  background-color: white;
  margin-bottom: 2rem;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
  width: 100%;
}

article.comment {
  box-sizing: border-box;
  border-radius: 1em;
  padding: 0 2rem;
}

article.comment .commentauthor {
  background-color: #aaccff;
  font-style: italic;
  width: 120%;
  margin: 0 -2em;
  padding: 0.25em;
  color: #333;
}

article.textpost {
  box-sizing: border-box;
  padding: 0 2rem;
}

article.file {
  padding: 1em 0 1.5em;
  text-align: center;
}

figure {
  text-align: center;
}

figure img {
  image-orientation: from-image;
}

h4 {
  margin: 0 0 0.5em;
  font-size: 1.5em;
  width: 100%;
  color: #666;
}

.container {
  flex-direction: column;
  align-items: center;
  max-width: 40rem;
  margin: 0 auto;
  display: flex;
}

.file-icon {
  position: relative;
  margin-right: 1rem;
  color: #999;
  top: 0.2em;
}

.author,
.avatar {
  display: none;
}

@media (max-width: 640px) {
  body {
    background: white;
  }

  h4 {
    text-align: center;
    border-bottom: none;
    font-size: 1.25rem;
  }

  #select-wrapper {
    margin: 0 0 2em 1em;
    position: relative;
    display: block;
    width: 14em;
  }

  article {
    box-shadow: none;
    margin: 0;
  }
}

.blog-image {
  background-color: #ddd;
  min-height: 10em;
  display: block;
  width: 100%;
}

.blog-embed {
  background-color: #ddd;
  min-height: 30em;
  display: block;
  width: 100%;
}

.row > header {
  transition: opacity 0.2s;
  pointer-events: none;
  position: absolute;
  text-align: right;
  background: black;
  color: #ddd;
  opacity: 0;
  right: 0;
}

.row:hover > header {
  opacity: 0.8;
}

.row-author {
  margin-left: 1em;
}

#text-submit {
  background-color: lightgreen;
  text-decoration: none;
  display: inline-block;
  padding: 0.5em 1em;
  text-align: center;
  color: darkgreen;
  border: none;
}

#text-submit:active {
  background-color: darkgreen;
  color: lightgreen;
}

#submission-text {
  border: 1px solid #cccccc;
  box-sizing: border-box;
  text-align: left;
  margin: 0.5em 0;
  display: block;
  padding: 0.5em;
  width: 100%;
  height: 5em;
}

#text-upload-form {
  text-align: right;
}
